@tailwind base;
@tailwind components;
@tailwind utilities;

.Typewriter__cursor {
  font-size: 50px;
  font-weight: 600;
  /* font-family: 'Comfortaa Medium', cursive;; */
  color: black;
}

html.dark .Typewriter__cursor {
  color: white;
  color: rgb(rgb(147, 62, 62), green, blue);
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
  animation-delay: 0.5s;
}

.spikes {
  position: relative;
  background: rgb(25, 25, 25);
  height: 50vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 55px;
  background-size: 55px 100%;
  background-image: linear-gradient(135deg, rgb(25, 25, 25) 25%, transparent 25%),
    linear-gradient(225deg, rgb(25, 25, 25) 25%, transparent 25%);
  background-position: 0 0;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
